body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E3E3E3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(./assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'Zilla Slab';
  src: url(./assets/fonts/Zilla_Slab/ZillaSlab-Light.ttf);
}

@font-face {
  font-family: 'Zilla Bold';
  src: url(./assets/fonts/Zilla_Slab/ZillaSlab-Bold.ttf);
}

h1 {
  font-family: 'Zilla Slab';
  letter-spacing: 2px;
  font-size: 32px;
}

* {
  margin: 0;
  box-sizing: border-box;
}